[Desktop Entry]
Encoding=UTF-8
Name=到 computeg1g2v4.py 的链接
Type=Link
URL=https://github.com/azuki-miho/dns/blob/master/computeg1g2v4.py
Icon=text-html
